@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url("/node_modules/leaflet/dist/leaflet.css");

@layer utilities{
  .bord{
    border: 2px solid black;
  }
  .barlow{
    font-family: 'Barlow Condensed', sans-serif;
  }
  .rubik{
    font-family: 'Rubik', sans-serif;
  }
  .belle{
    font-family: 'Bellefair', serif;
  }
  .desk{
    background-image: url("./assets/pattern-bg-desktop.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
}
